@import "tailwindcss";

@tailwind utilities;

html {
  transition: background-color 0.2s ease,color 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
    @apply transition-colors duration-10;
}

html.light {
  @apply bg-amber-50 text-black;
}
html.light .static-component {
  @apply bg-amber-50 text-black;
}

html.dark {
  @apply bg-black text-slate-200;
}

html.dark .static-component{
  @apply text-white bg-black;
  @apply border-r-slate-100/10;
  @apply border-b-slate-100/10;
}

html.dark .table {
  @apply bg-neutral-800/30;
}

html.light .route {
  @apply flex font-semibold text-slate-600 px-4 py-2 shadow hover:text-slate-800/80 hover:bg-slate-800/10 hover:rounded;
}

html.dark .route {
  @apply flex font-semibold text-slate-600 px-4 py-2 shadow hover:text-slate-100/80 hover:bg-slate-100/20 hover:rounded;
}

