@import "tailwindcss";

@tailwind utilities;

html {
  transition: background-color 0.2s ease,color 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
    @apply transition-colors duration-10;
}

html.light {
  @apply bg-gray-300/60 text-black;
}

html.light .static-component {
  @apply bg-gray-200/20 text-black;
}

html.dark {
  @apply bg-neutral-950 text-slate-200;
}

html.dark .static-component{
  @apply text-white bg-transparent;
  @apply border-r-slate-50/5;
  @apply border-b-slate-50/5;
}





/* Tarjeta para inicio de sesion

html.light .loginCard {

}

html.dark .loginCard {
  @apply ;
}

/*





/* Botones */

html.light .paginationButton {
  @apply px-3 py-1 bg-slate-100/80 text-black rounded disabled:opacity-50 cursor-pointer;
}

html.dark .paginationButton { 
  @apply px-3 py-1 bg-slate-100/10 text-white/50 rounded disabled:opacity-50 cursor-pointer;

}


/* tablas con informacion */

html.dark .table {
  @apply bg-neutral-800/30;
}


html.dark .table .table-grid {
  @apply border-slate-100/10;
}

/* Barra de busqueda estatica */
html.light .search-bar {
  @apply  fixed h-12 top-0 left-42 right-0 border-b-1 border-b-black/10 ;
}

html.dark .search-bar {
  @apply  fixed h-12 top-0 left-42 right-0 border-b-1 border-slate-100/10;
}



/* rutas del sidebar */

html.light .route {
  @apply flex w-38 font-light text-sm text-slate-700 px-2 py-1 hover:text-black hover:font-medium;
}

html.dark .route {
  @apply flex w-38 font-light text-sm text-slate-300 px-2 py-1 hover:text-white hover:font-medium;
}


/* PRODUCTS */

/* contenedor de productos */

html.dark .product-box {
  @apply bg-neutral-950/80;  
}


/* MODAL */

/* contenedor */

html.light .modal {
  @apply fixed z-[9999] top-16 left-46 h-[150px] w-[100px] border-1 border-amber-100/20 bg-neutral-100 rounded-xl shadow p-8;
}

html.dark .modal {
  @apply fixed z-[9999] bottom-28 left-4 h-[100px] w-[135px] border-1 border-slate-100/10 bg-neutral-950 shadow shadow-amber-100/10 rounded-xl p-2;
}

/* formulario */

html.light .modal .form {
  @apply rounded-xl border-1 border-neutral-800/10 px-6;
}

html.dark .modal .form {
  @apply rounded-xl border-1 border-slate-100/10 px-6;
}